{% extends 'base.html' %}
{%block title %}Home{%endblock%}
{%block content%}
{%load static%}

   
<!-- background -image -->
<div class="container-fluid">
  <div class="row">
    <div class="bg-image" style="background-image: url({% static "images/image1.jpg" %})"> 
      <form class="row g-3 mt-10 mx-5 p-5">
        <h3 class="text-white text-center mt-5">Check Availbility</h3>
        <div class="row">
          <div class="col-md-2 col-lg-2">
            <label for="from_date" class="form-label text-white">From</label>
            <input type="date" class="form-control" name="from_date">
          </div>
          <div class="col-md-2 col-lg-2">
            <label for="to_date" class="form-label text-white">To</label>
            <input type="date" class="form-control" name="to_date">
          </div>
          <div class="col-md-2 col-lg-2">
            <label for="adults" class="form-label text-white">Adults</label>
            <input type="number" class="form-control" name="to_date">
          </div>
          <div class="col-md-2 col-lg-2">
            <label for="children" class="form-label text-white">Children</label>
            <input type="number" class="form-control" name="to_date">
          </div>
          <div class="col-md-2 col-lg-2">
            <label for="room_type" class="form-label text-white">Room Type</label>
            <select class="form-control" id="select_type">
              <option selected>Rooms</option>
              <option>Single</option>
              <option>Standard</option>
              <option>Deluxe</option>
              <option>Family</option>
            </select>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <a href="{%url 'account_creation'%}"><button type="button"
              class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Check</button></a>
          </div>
      </form>
    </div>
  </div>
</div>

  

<!-- services -->
<div class="container">
  <!-- Card deck -->
  <div class="card-deck row"> 

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Card -->
      <div class="card h-100"> 
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{% static '/images/services.jpg' %}" alt="Our Resturant">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div> 
        <!--Card content-->
        <div class="card-body">  
          <!--Title-->
          <h4 class="card-title ">Our Resturant</h4>
          <!--Text-->
          <p class="card-text">we provide the best quality foods and are prepared by well experienced chefs. vegetarian, Non-vegetarian, kinds of seafood, traditional foods, and Chinese foods. daily we offer a new varieties foods in our restaurant.</p>
        </div>
      <!-- Card -->
      </div>
    </div>    

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- Card -->
      <div class="card h-100"> 
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{% static '/images/staff.jpg' %}" alt="Staff">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div> 
        <!--Card content-->
        <div class="card-body">  
          <!--Title-->
          <h4 class="card-title ">Staff</h4>
          <!--Text-->
          <p class="card-text">our staff are happy to servre at  any time.</p>
        </div>
      </div>
      <!-- Card -->
    </div>  

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card h-100"> 
        <div class="view overlay">
          <img class="card-img-top" style="height: 277px;" src="{% static '/images/room1.jpg' %}" alt="Our Resturant">
        </div>  
        <div class="card-body">  
          <h4 class="card-title ">Great Experience</h4>
          <p class="card-text">Moonlight hotel has a peaceful and charming atmosphere for families and couples. our hotel is on the side of the Ganga river so you can swimming, ride boats and do so many things. It's a wonderful experience for your life.</p>
        </div>
      </div>
    </div>  
     
  </div>
  <!-- Card deck -->    
</div>

<!-- Rooms -->
<br><br>
<div class="container">
  <h3 class="text-center mb-2">Apartment Rooms</h3>
  <div class="row text-center">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">      
          <img class="img-responsive" src="{%static '/images/room1.jpg'%}" alt="Chania" width="360" height="345">
        </div>
        <div class="col-lg-6">
          <div class="text-center"><h4>Single Room</h4></div>
            <ul>
              <li><span>Max :</span>2 Persons</li>
              <li><span>view :</span>Sea View</li>
              <li><span>Bed:</span>1</li>        
            </ul>
               <p><a href="rooms.html"><button class="button_room">Click to go</button></a></p>
          </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">      
          <img class="img-responsive" src="{%static '/images/room1.jpg'%}" alt="Chania" width="360" height="345">
        </div>
        <div class="col-lg-6">
          <div class="text-center"><h4>Single Room</h4></div>
            <ul>
              <li><span>Max :</span>2 Persons</li>
              <li><span>view :</span>Sea View</li>
              <li><span>Bed:</span>1</li>        
            </ul>
               <p><a href="rooms.html"><button class="button_room">Click to go</button></a></p>
          </div>
      </div>
    </div>
  </div>
</div>



<!-- we offer -->
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-lg-6">
      <img src="{% static '/images/room3.jpg' %}" class="img-responsive text-center mx-2" style="height: 443px; width: 665px;">
      <h3 class="mx-2">The most recommended vacation rental</h3>
      <div class="lead mx-2">
        we have 100 years of experience in the hotel field, our staff is well experienced and we will take care of you. our most advantages are the Ganga river near to the hotel and a small forest and mountains close to them. we are sure that, you and your family will have a memorable experience with our hotel.
      </div>
    </div>

    <div class="col-lg-6">
      <h3 class="text-center pt-5">What we offer</h3>
      <div class="row pt-5">

        <div class="col-lg-6 text-center">
          <div class="row">
            <div class="col-lg-3 text-center">
              <img src="{% static '/images/tea_coffe.png' %}" style="height:59px ; width:64px ;">
            </div>
            <div class=" col-lg-9 text-center">
              <h4>Tea Coffe</h4>
              <p>Every morning, we provide a coffe or tea as per your demand.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-3 text-center">
              <img src="{% static '/images/hot-shower.png' %}" style="height:59px ; width:64px ;">
            </div>
            <div class=" col-lg-9 text-center">
              <h4>Hot Shower</h4>
              <p>All hotel rooms have a hot shower facility </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 pt-4 mt-4">
          <div class="row">
            <div class="col-lg-3 text-center">
              <img src="{% static '/images/wifi.png' %}" style="height:59px ; width:64px ;">
            </div>
            <div class=" col-lg-9 text-center">
              <h4>Free Wifi</h4>
              <p>24 hours free high-speed wifi available</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 pt-4 mt-4">
          <div class="row">
            <div class="col-lg-3 text-center">
              <img src="{% static '/images/kitchen.jpg' %}" style="height:59px ; width:64px ;">
            </div>
            <div class=" col-lg-9 text-center">
              <h4>Kitchen</h4>
            <p>we provide a kitchen for specific rooms, especially for families and couples</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 pt-4 mt-4">
          <div class="row">
            <div class="col-lg-3 text-center">
              <img src="{% static '/images/air.png' %}" style="height:59px ; width:64px ;">
            </div>
            <div class=" col-lg-9 text-center">
              <h4>Air Conditioning</h4>
            <p>All rooms are  air Conditioning and well cleaned</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 pt-4 mt-4">
          <div class="row">
            <div class="col-lg-3 text-center">
              <img src="{% static '/images/laundry-icon.png' %}" style="height:59px ; width:64px ;">
            </div>
            <div class=" col-lg-9 text-center">
              <h4>Laundry</h4>
            <p>Every morning our staff collect dirty clothes and replace them with a new ones.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


      


<!-- client feedback -->
<div class="container-fluid">
  <div class="row pb-5 mt-4">
    <h3 class="text-center">Our Customer's Feedback</h3>

    <div class="col-lg-4 text-center ">
      <div class="row px-2">
        <div class="col-lg-2">
          <div class="row-cols-1"><img src="{% static '/images/quote.jpg' %}" style="width: 26px;" class="img-responsive"></div>
          <img src="{% static '/images/customer1.jpg' %}" style="width:58px ; height:62px ;" class="img-responsive rounded-circle">
        </div>
        <div class="col-lg-10 mt-3">
          <h5>Christopher Hemsworth AM</h5>
          <p>Nice hotel and good atmosphere</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-center">
      <div class="row">
        <div class="col-lg-2">
          <div class="row-cols-1"><img src="{% static '/images/quote.jpg' %}" style="width: 26px;" class="img-responsive"></div>
          <img src="{% static '/images/customer1.jpg' %}" style="width:58px ; height:62px ;" class="img-responsive rounded-circle">
        </div>
        <div class="col-lg-10 mt-3">
          <h5>Christopher Hemsworth AM</h5>
          <p>Nice hotel and good atmosphere</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-center">
      <div class="row">
        <div class="col-lg-2">
          <div class="row-cols-1"><img src="{% static '/images/quote.jpg' %}" style="width: 26px;" class="img-responsive"></div>
          <img src="{% static '/images/customer1.jpg' %}" style="width:58px ; height:62px ;" class="img-responsive rounded-circle">
        </div>
        <div class="col-lg-10 mt-3">
          <h5>Christopher Hemsworth AM</h5>
          <p>Nice hotel and good atmosphere</p>
        </div>
      </div>
    </div>

  </div>
</div>
<br><br>

  
{% endblock %}
    



<!-- footer -->
<!-- <div class="footer_container">
  <div class="footer_menu">
    <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="rooms.html">Rooms</a></li>
    </ul>
  </div>
  <div class="copyright">Moonlight © 2022</div>
  <div class="social_icons">
    <div class="icon_box"><a href="https://www.facebook.com/"><img src="/images/facebook.jpg" alt="facebook"></a></div>
    <div class="icon_box"><a href="https://www.instagram.com/accounts/login/"><img src="/images/instagram.jpg"></a></div>
    <div class="icon_box"><a href="https://accounts.snapchat.com/accounts/login?client_id=geo"><img src="/images/snacpchat.jpg"></a></div>
    <div class="icon_box"><a href="https://twitter.com/i/flow/login"><img src="/images/twitter.png"></a></div>

